.background{
    background-color: #5b940f;
}
.text{
    color: #9BE53D;
}
.container{
    padding-top: 50px;
}
.bg{
    background-color: #3e5b0855;
}

.bg_mon{
    background-color: #15b9a6ce;
}

.bg_li{
    background-color:#FEAF0D ;
}
.bg_ina{
    background-color: #c300ffed;
}
.bg_su{
    background-color: #9BE53D;
}
.bg_fo{
    background-color: #00BDFB;
}

.fixed-top {
    top: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: auto; 
}
.card {
    background-color: transparent;
}

.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(36, 209, 71);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}



@media (max-width: 400px) {
    .char_icon{
        max-width: 40%;
    }
    ._icon{
        max-width: 10%;
    }
    .txt{
        font-size: 16px;
    }
    .profile-content{
        width: 100%;
        max-width: 95%;
    }
    .info_text_char{
        font-size: 16px;
        width: 100%;
        max-width: 90%;
        display: block;
    }
    .nav-item{
        margin: 5px;
    }
    .container{
        margin: 2%;
        align-items: center;
    }
   .img_footer{
    max-height: 1rem;
   }

    .profile-section .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .profile-section .col-2 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .profile-section .m-3 {
        padding-left: 10px;
        width: 100%;
    }

    .container .col-9, .container .col-3 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .container_img {
        display: flex;
        min-height: 100px;
        align-items: center;
    }
    .img_class {
        width: 200px;
        height: 300px; 
        max-width: none;
        max-height: none; 
        object-fit: cover; 
    }
    .img-fluid {
        display: none;
    }
    .img_detail {
        display: none;
    }
    .background{
        padding-top: 50px;
    }
}

@media (max-width: 700px) {
    .background{
        padding-top: 50px;
    }
    .profile-section .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .profile-section .col-2 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .profile-section .m-3 {
        padding-left: 10px;
        width: 100%;
    }

    .container .col-9, .container .col-3 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .container_img {
        display: flex;
        min-height: 100px;
        align-items: center;
    }
    .img_class {
        width: 200px;
        height: 300px; 
        max-width: none;
        max-height: none; 
        object-fit: cover; 
    }
    .img-fluid {
        display: none;
    }
    .img_detail {
        display: none;
    }

}

@media (min-width: 700px) and (max-width: 980px) {
    .background{
        padding-top: 40px;
    }
    .profile-section .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .profile-section .col-2 {
        margin: 2%;
        width: 25%;
        margin-bottom: 1rem;
    }
    .container .col-9, .container .col-3 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .img-fluid {
        display: none;
    }

    .img_class {
        width: 200px;  
        height: 300px; 
        max-width: none; 
        max-height: none; 
        object-fit: cover;
    }
}

@media (min-width: 980px) and (max-width: 1360px) {
    .img_class {
        width: 200px;  
        height: 470px; 
        max-width: none; 
        max-height: none; 
        object-fit: cover;
    }
  
}